@import url('https://use.typekit.net/ijd1mqq.css">');




    .navbar-nav {
        font-family: 'Lato', sans-serif;
    }

    .header1, h1, h2{
        font-family: 'Kepler-std-display', serif;
        font-weight: lighter;
    }
    .header2, h4{
        font-family: 'Lato', sans-serif;
        font-weight: lighter;
        color: #fff;
    }

    .header5 {
        font-family: 'Kepler-std-display', serif;
        font-weight: lighter;
    }

    h6 {
        font-family: 'Lato', sans-serif;
        font-size: 1.25rem;
    }

    #nameheader{
        background-color: #fff;
        color:black;
        font-weight: normal;
    }
    /* video */

.video-wrap {
    position: relative;
    padding-bottom: 35%;
    padding-top: 25px;
    height: 0;
    max-width: 1920px;
    margin: 0 auto;
}
.video-wrap iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        max-height: 1080px;
    }

    /* photo grid */

.flex-column {
        max-width: 260px;
    }
  
    
.scale {
        transform: scaleY(1.05);
        padding-top: 5px; 
    }

    /* name mouseover */

.overlay-container {
        position: relative;
        width: 100%;
      }
      
.over {
        display: block;
        width: 100%;
        height: auto;
      }
      
.overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: black;
      }
      
.overlay-container:hover .overlay {
        opacity: .5;
      }
      
    /*borderbox sytles */
    

    .shadow1{
    padding: 20px 0 0 20px;
}
.shadow1 img{
    -webkit-box-shadow: 1.5px 1.5px 0 0 #cc2030; 
    box-shadow: 1.5px 1.5px 0  #cc2030;
    display: block;
    width: 18rem;
    }
    
.shadow2{
    padding: 20px 0 0 20px;
}

.shadow2 img{
    -webkit-box-shadow: 1.5px 1.5px 0 0 #cc2030; 
    box-shadow: 1.5px 1.5px 0  #cc2030;
    display: block;
    width: 18rem;
     }

.shadow3{
    padding: 20px 0 0 20px;
}

    .shadow3 img{
     -webkit-box-shadow: 1.5px 1.5px 0 0 #cc2030; 
    box-shadow: 1.5px 1.5px 0  #cc2030;
display: block;
width: 18rem;
     }

.shadow4{
    padding: 20px 0 0 20px;
    }

.shadow4 img{
    -webkit-box-shadow: 1.5px 1.5px 0 0 #cc2030; 
    box-shadow: 1.5px 1.5px 0  #cc2030;
    display: block;
    width: 18rem;
    }

.shadow5{
    padding: 20px 0 0 20px;
    }

.shadow5 img{
    -webkit-box-shadow: 1.5px 1.5px 0 0 #cc2030; 
    box-shadow: 1.5px 1.5px 0  #cc2030;
display: block;
width: 18rem;
    }

.shadow6{
    padding: 20px 0 0 20px;
    }

.shadow6 img{
    -webkit-box-shadow: 1.5px 1.5px 0 0 #cc2030; 
    box-shadow: 1.5px 1.5px 0  #cc2030;
    display: block;
    width: 18rem;
    }

.shadow7{
    padding: 20px 0 0 20px;
    }

.shadow7 img{
    -webkit-box-shadow: 1.5px 1.5px 0 0 #cc2030; 
    box-shadow: 1.5px 1.5px 0  #cc2030;
    display: block;
    width: 18rem;
    }

.shadow8{
    padding: 20px 0 0 20px;
    }

.shadow8 img{
    -webkit-box-shadow: 1.5px 1.5px 0 0 #cc2030; 
    box-shadow: 1.5px 1.5px 0  #cc2030;
    display: block;
    width: 18rem;
    }

.shadow9{
    padding: 20px 0 0 20px;
    }

.shadow9 img{
    -webkit-box-shadow: 1.5px 1.5px 0 0 #cc2030; 
    box-shadow: 1.5px 1.5px 0  #cc2030;
    display: block;
    width: 18rem;
    }

.shadow10{
    padding: 20px 0 0 20px;
    }

.shadow10 img{
    -webkit-box-shadow: 1.5px 1.5px 0 0 #cc2030; 
    box-shadow: 1.5px 1.5px 0  #cc2030;
    display: block;
    width: 18rem;
    }

.shadow11{
    padding: 20px 0 0 20px;
    }

.shadow11 img{
    -webkit-box-shadow: 1.5px 1.5px 0 0 #cc2030; 
    box-shadow: 1.5px 1.5px 0  #cc2030;
    display: block;
    width: 18rem;
    }

.shadow12{
    padding: 20px 0 0 20px;
    }

.shadow12 img{
    -webkit-box-shadow: 1.5px 1.5px 0 0 #cc2030; 
    box-shadow: 1.5px 1.5px 0  #cc2030;
    display: block;
    width: 18rem;
    }

.shadow13{
    padding: 20px 0 0 20px;
    }

.shadow13 img{
    -webkit-box-shadow: 1.5px 1.5px 0 0 #cc2030; 
    box-shadow: 1.5px 1.5px 0  #cc2030;
    display: block;
    width: 18rem;
    }

.shadow14{
    padding: 20px 0 0 20px;
    }

.shadow14 img{
    -webkit-box-shadow: 1.5px 1.5px 0 0 #cc2030; 
    box-shadow: 1.5px 1.5px 0  #cc2030;
    display: block;
    width: 18rem;
    }

.shadow15{
    padding: 20px 0 0 20px;
    }

.shadow15 img{
    -webkit-box-shadow: 1.5px 1.5px 0 0 #cc2030; 
    box-shadow: 1.5px 1.5px 0  #cc2030;
    display: block;
    width: 18rem;
    }



/* credits */
.shadow1c{
   /* -webkit-box-shadow: -45px 27px 0px 0px;
    box-shadow: -45px 27px 0px 0px;
    */
    display: block;
    width: 16rem;
}
.shadow2c{

    display: block;
    width: 16rem;
}
.shadow3c{

    display: block;
    width: 16rem;
}
.shadow4c{

    display: block;
    width: 16rem;
}
.shadow5c{
    display: block;
    width: 16rem;
}
.shadow6c{

    display: block;
    width: 16rem;
}

.box1{
    width: auto;
    border: none;
}
.box2{
    width: auto;
    border: none;
}
.box3 {
    width: auto;
    border: none;
}
.box4{
    width: auto;
    border: none;
}
.box5{
    width: auto;
    border: none;
}
.box6{
    width: auto;
    border: none;
}
p, h5 {
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    font-size: 1.25rem !important;
}

b {
    font-family: 'Lato', sans-serif ;
    color: #cc2030;
}
/* designers */

.carousel-inner{
    background: black;
    text-align: center;
    padding: auto;
    margin: auto;
    
}
.carousel-inner, img{
    margin: auto;
}

.img-carousel{
    max-width: 100%;
    max-height: 500px;
    margin: auto;
}


.carousel-caption {
    position: relative;
    left: 0;
    top: 0;
    max-width: 600px;
    margin: auto;
}

.carousel-control-prev-icon, .carousel-control-next-icon{
    background-color: black;
    padding: 20px;
}

#statement p{
    text-align: left;
}

.statement_header{
    text-align: center;
}


  .shadow22 img{
    -webkit-box-shadow: 73px 60px 0px -30px #cc2030 , 73px -60px 0px -30px #cc2030 ;
    box-shadow: 73px 60px 0px -30px #cc2030 , 73px -60px 0px -30px #cc2030 ;
    display: block;
    width: 18rem;
  }
  .video-wrap-designer{
    position: relative;
    padding-bottom: 50%;
    padding-top: 25px;
    height: 0;
    max-width: 100%;
    margin: 0 auto;
  }

  .video-wrap-designer iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: 1080px;
}

    /* footer */

footer{
    background-color: #000;
    color: #fff;
    }

a {
    font-family: 'Lato', sans-serif;
}

#aprlfooter {
    font-size: 1.2rem;
}


a:hover {
    color: #cc2030;
    font-weight: normal;
}

@media (max-width: 1195px) {
    .box1, .box2, .box3, .box4, .box5, .box6{
        margin: 0 50px;
    }

}
.embed-youtube {
    position: relative;
    padding-bottom: 56.25%; /* - 16:9 aspect ratio (most common) */
    /* padding-bottom: 62.5%; - 16:10 aspect ratio */
    /* padding-bottom: 75%; - 4:3 aspect ratio */
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.embed-youtube iframe,
.embed-youtube object,
.embed-youtube embed {
    border: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}